@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%; /* Hacer que las secciones ocupen todo el ancho */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container2, .container4 {
  width: 100%; /* Hacer que los contenedores internos ocupen todo el ancho */
  margin: 10px 0;
  padding: 20px;
  background-color: #dce6f2;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

h1, h2 {
  width: 100%;
  font-size: 24px;
  text-align: left;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.field {
  width: 23%; /* Ajustar el ancho de los campos para que haya 4 por fila */
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
}

.field-special {
  width: 30%; /* Ajustar el ancho de los campos para que haya 3 por fila */
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  margin-bottom: 10px;
}
.fake-field-special {
  width: 10%; /* Ajustar el ancho de los campos para que haya 3 por fila */
  display: flex;
  margin-left: 100px;
  flex-direction: column;
  margin-bottom: 10px;
}
.field label {
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.field-special label  {
  margin-left: 10px;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.field-centered label {
  margin-top: 5px;
  font-weight: bold;
}
.field-centered {
  width: 30%; /* Ajusta el ancho según sea necesario */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto; /* Centramos el contenedor */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: sans-serif;
}

.field select, .field input[type="number"], .field-special select, .field-special input[type="number"], .field-centered select, .field-centered input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Poppins", sans-serif;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.label-special {
  margin-left: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
select:focus, input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
  outline: none;
}

/* Mantener el resto del estilo existente */
.checkbox-field {
  display: flex;
  align-items: center;
}

.checkbox-field input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.checkbox-field input[type="checkbox"]:checked::before {
  content: "X";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 16px;
  color: #000;
}

.tabs {
  list-style-type: none;
  padding: 10px;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

.tabs a {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.tabs a:last-child {
  margin-right: 0;
}

.tabs a:hover {
  background-color: #e0e0e0;
}

.tabs a.active {
  background-color: white;
  color: black;
}

#logo {
  text-align: left;
  padding: 10px 0;
  background-color: #e9e9e9;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#logo img {
  width: 10%;
  height: 10%;
}
